/*== $ Color ==*/
	$background-white:#fff;
	$base-hover-background:#f48a1d;
	$base-hover-background-2:#32549e;
	$base-hover-color:#f48a1d;
	$bg-color-black:#0C0C0C;
	$color-white:#fff;
	$color-black:#000;
/*== End $ Color ==*/